@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --primary: rgba(0, 101, 55, 1);
  --secondary: rgba(248, 156, 14, 1);
}